@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #212120;
}

body {
    background-color: #2f3136;
}

header {
    padding: 1em;
    background-color: #008eff;
    font-size: 1.5rem;
}
header h1,
h2 {
    color: #fff;
}
header h2 {
    font-size: 1rem;
}

#exercise-form {
    width: 40%;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    background-color: #008eff;
    border-radius: 1em;
}

#exercise-form legend {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5em;
}
#exercise-form label {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5em;
}

#exercise-form input {
    display: inline;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
    padding: 0.5em;
    font-style: italic;
}

#exercise-form .form-group {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#add-btn {
    background-color: #00ff73;
    padding: 1em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-weight: bolder;
    border: none;
}

.hide {
    display: none;
}

#exercises {
    background-color: #008eff;
    width: 40%;
    border-radius: 1em;
    margin: auto;
    padding: 1em;
}
#workouts {
    text-align: center;
    margin-top: 1em;
}
#workouts .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#workouts h1 {
    color: #fff;
    width: fit-content;
    margin: auto;
    border-bottom: solid #fff 5px; 
}

#workouts h2 {
    font-size: 1.25em;
}

#workouts h2,
p {
    display: inline;
    color: #fff;
}

.workout {
  margin-top: 2em; 
  background-color: #2f3136;
  padding: 1em;
  border-radius: 10px;
}

#sort-by {
  padding: 0.4em;
  background-color: #fff;
  border-radius: 10px;
  color: #2f3136; 
  border: solid #fff 1px;
}

@media screen and (max-width: 600px) {
  #exercise-form {
    width: 80%;
    border-radius: 0; 
  }

  #exercise-form legend {
    font-size: 1.5rem;
  }
  #exercise-form label {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5em;
  }

  #exercise-form input {
    padding: 0.25em;
    font-size: 0.75rem;
    width: 50%;
    margin: auto;
    margin-bottom: 1em; 
  }

  #exercise-form .form-group {
    grid-template-columns: 1fr;
  }

  #exercises {
    background-color: #008eff;
    width: 40%;
    border-radius: 0;
    margin: auto;
    padding: 1em;
  }
  #workouts .group {
    display: grid;
    grid-template-columns: 1fr;
  }

  #workouts h1 {
    color: #fff;
    width: fit-content;
    margin: auto;
    border-bottom: solid #fff 5px; 
    font-size: 1.3rem;
  }

  #workouts h2 {
    margin-top: 1em; 
    font-size: 1em;
  }

  .workout {
    margin-top: 2em; 
    background-color: #2f3136;
    padding: 0.5em;
    border-radius: 0;
  }

  #sort-by {
    padding: 0.2em;
    border-radius: 0;
  }

  #exercises {
    width: 80%;
  }
}
